{
  "presets": [["env", { "targets": { "node": "4.2" }, "useBuiltIns": true }]],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "add-module-exports"
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" }, "useBuiltIns": true }],
        "babel-preset-power-assert"
      ],
      "plugins": [
        ["transform-object-rest-spread", { "useBuiltIns": true }],
        "istanbul"
      ]
    }
  }
}
