{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": { "node": "4.2" }, "useBuiltIns": "usage" }
    ]
  ],
  "plugins": [
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
    "add-module-exports"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          { "targets": { "node": "current" }, "useBuiltIns": "usage" }
        ]
      ],
      "plugins": [
        ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }],
        "babel-plugin-empower-assert",
        "babel-plugin-espower",
        "istanbul"
      ]
    }
  }
}
