{
  "presets": [[
    "env", {
      "targets": {
        "node": "4.2"
      },
      "useBuiltIns": true
    }
  ]],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    "add-module-exports"
  ],
  "env": {
    "test": {
      "presets": ["babel-preset-power-assert"],
      "plugins": ["istanbul"]
    }
  }
}
